.Rproj.user
.Rhistory
.RData
.Ruserdata
.rds

# ignore temp files w/ trailing ~
*~

# ignore hidden files
.*

# ignore files with the rolling extensions
*.DS_Store
*.Rhistory
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.bib.bak
*.thm
*.concordance.tex
*.nav
*.snm

# don't ignore the .gitignore file
!.gitignore

# ignore survey instrument files
.docx 
.html 
